* {
  box-sizing: border-box;
}

:root {
  /* Light theme */
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
  --text-color: #080808;
  --background-color: #fefefe;
  --accent-color: #a2106d;
}

body.dark-theme {
  /* Dark theme */
  --text-color: #fefefe;
  --background-color: #080808;
  --accent-color: #ffa500;
}

header {
  top: 0;
}

/* body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  padding-top: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
} */

.theme {
  position: fixed;
  top: 70px;
  left: 93%;
  padding: 5px;
  z-index: 100px;
}

/* .about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

.about-text {
  padding: 20px;
  margin: 20px 0;
  max-width: 50%;
}

.about-image {
  padding: 20px;
  margin: 20px 0;
  max-width: 40%;
} */

/* Code for navbar */
/* .navigation ul {
  background-color: var(--black);
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 20px;
}

.navigation li {
  display: inline;
}

.navigation li a {
  color: var(--white);
  display: block;
  padding: 20px 28px;
  text-align: center;
  text-decoration: 0;
}

.navigation li a:hover {
  background-color: var(--violetred);
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* .object-navigation {
  display: block;
  width: 100%;
  height: auto;
  border: none;
} */

#contact-form {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: var(--black);
  background-color: var(--background-color);
  color: var(--text-color);
}

#contact-form label,
#contact-form input,
#contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
}

#contact-form input[type="submit"] {
  background: #333;
  color: #fff;
  padding: 5px;
  margin-bottom: 60px;
}

/* .col-md-6 img {
  width: 40px;
  margin: none;
} */

/* .title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 2px solid var(--white);
  border-block-color: var(--black);
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 100;
} */

/* .section-container {
  width: 60%;
  margin-left: 30px;
}

.sections {
  background-color: var(--background-color);
  color: var(--text-color);
} */

/* .navbar-container {
  margin-top: 0px;
  margin: 10px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
} */

.title-box {
  width: 100%;
  margin: 0px;
}
/* 
.card-spacing {
  margin-right: 5px;
  margin-left: 5px;
} */

body {
  padding-top: 80px; /* Adjust based on the height of your navbar */
}
